# General
node_modules/
**/node_modules/
**/dist/
**/build/
**/.gradle/
**/.idea/
**/.cxx/
**/.externalNativeBuild/
**/.DS_Store
coverage/

# Backend
backend/dist/
backend/coverage/
backend/node_modules/
backend/src/dashboard/

# iOS
DerivedData/
ios/NearMe.xcodeproj/project.xcworkspace/

# Android
android/.gradle/
android/build/
android/app/build/
